# ============================================================
# DATABASE CONNECTORS
# ============================================================
pymongo
psycopg2-binary

# ============================================================
# DATA PROCESSING (VERSI KOMPATIBEL PYTHON 3.10+)
# ============================================================
pandas
numpy

# ============================================================
# MACHINE LEARNING
# ============================================================
scikit-learn
joblib
scipy
imbalanced-learn

# ============================================================
# VISUALIZATION
# ============================================================
matplotlib
seaborn

# ============================================================
# UTILITIES
# ============================================================
python-dotenv
requests

# ============================================================
# TESTING
# ============================================================
pytest

# ============================================================
# JUPYTER
# ============================================================
jupyter
ipykernel